.main-container {
    display: grid;
    gap: 1rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    grid-auto-rows: auto;
}

.book-entry-container {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--pastel-pink);
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.book-entry-container p:first-child {
    font-size: 1.2rem;
    font-variation-settings: var(--bold-fvs);
    color: var(--dgrey-clr);
    padding: 1rem 0 0 0;
    /* border-bottom: 1px dashed var(--dgrey-clr); */
    text-transform: capitalize;
}

.book-entry-container p:first-child::after {
    content: '';
    display: block;
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    height: 0.1rem;
    background-color: var(--dark-pink);
}

.book-entry-container p:nth-child(2) {
    color: var(--dgrey-clr);
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.book-entry-container p:nth-child(3) {
    font-variation-settings: var(--author-form-fvs);
    color: var(--dgrey-clr);
    text-shadow: 1px 1px 3px rgb(255, 255, 255, 1);
    font-size: 1rem;
    color: var(--dark-pink);
}