.main-container {
    padding: 1rem 0;
    box-sizing: border-box;
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    grid-auto-rows: auto;
}

.book-entry-container {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--pastel-pink);
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.book-entry-container p:first-child {
    font-size: 1.2rem;
    color: var(--dgrey-clr);
    padding: 2rem 0 1rem 0;
    /* border-bottom: 1px dashed var(--dgrey-clr); */
    text-transform: capitalize;
    border-bottom: 0.1rem solid var(--dark-pink);
}

.book-entry-container p:nth-child(2) {
    color: var(--dgrey-clr);
    font-size: 0.9rem;
    font-style: italic;
    margin: 1rem 0;
}

.book-entry-container p:nth-child(2)::after {
    content: ' - pages';
    font-size: 0.8rem;
    font-style: italic;
    color: var(--dgrey-clr);
    letter-spacing: 0.08rem;
}

.book-entry-container p:nth-child(3) {
    color: var(--dgrey-clr);
    text-shadow: 1px 1px 3px rgb(255, 255, 255, 1);
    font-size: 1rem;
    color: var(--dark-pink);
    text-transform: capitalize;
    text-align: right;
}

.book-entry-container p:nth-child(3)::after {
    content: ' - Author';
    font-size: 0.8rem;
    font-style: italic;
    color: var(--dgrey-clr);
    letter-spacing: 0.08rem;
}

.book-entry-container p:last-child {
    padding: 2rem 0 0.5rem 0;
    display: flex;
}

.book-entry-container p:last-child button {
    padding: 0.5rem 3rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: var(--pastel-pink);
    background-color: var(--dark-pink);
}