.modal {
    display: none;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    margin-block: auto;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}

.modal-content {
    margin: 10% auto;
    width: 350px;
    background-color: var(--pastel-pink);
    padding: var(--regular-padding);
    color: var(--dgrey-clr);
    position: relative;
    border-radius: 1rem;
}

.modal-content>p {
    text-align: center;
    margin: 2.5rem 0 1rem 0;
    font-size: 1.2rem;
    color: var(--dgrey-clr);
    font-variation-settings: var(--bold-fvs);
}

.modal-content .close-x {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 0.5rem 0 0;
    font-variation-settings: var(--bold-fvs);
    color: #cfcfcf;
    display: block;
    background-color: var(--lgrey-clr);
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

form {
    font-size: 0.8rem;
    font-variation-settings: var(--modal-form-fvs);
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-transform: uppercase;
}

form>* {
    width: 100%;
}

form input:not([type="checkbox"]) {
    width: 100%;
    margin: 0.5rem 0;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    outline: none;
    border: 1px solid var(--dgrey-clr);
    border-radius: 0.5rem;
    color: var(--dgrey-clr);
}

.check-control {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
}

.check-control input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--dgrey-clr);
    accent-color: var(--dgrey-clr);
}

.modal button:first-of-type {
    margin-top: 1rem;
    padding: var(--button-padding);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--dgrey-clr);
    color: var(--pastel-pink);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.modal button:first-of-type:hover {
    background-color: var(--lgrey-clr);
    color: var(--dgrey-clr);
    transition: all ease-in-out 0.3s;
}

.modal button:last-of-type {
    font-size: 0.8rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: none;
    padding: 1rem 1rem;
    font-style: italic;
}

.modal button:last-of-type:hover {
    color: var(--dgrey-clr);
    text-decoration: none;
    font-weight: bold;
}

.modal form p:last-child {
    margin-bottom: 1.5rem;
}

.modal form p:last-child a {
    margin-left: 1rem;
    text-decoration: none;
    padding: 0.9rem 1rem;
}

.modal form p:last-child a:hover {
    background-color: var(--dgrey-clr);
    color: var(--pastel-pink);
    transition: all ease-in-out 0.3s;
    border-radius: 0.5rem;
}

.modal .notice {
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    color: var(--lgrey-clr);
}